.footer {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
  }
  &__bottom {
    a {
      color: white;
    }

    background-color: #0a2235;
    color: white;
    //display: grid;
    //gap: 2em 0;
    //margin-top: 3em;
    //@include break-up(md) {
    //  gap: 0 2em;
    //  justify-content: space-between;
    //  align-items: end;
    //  grid-template-columns: repeat(2, auto);
    //}
  }
}
