.footer {
    .developer a {
        //color: $gray-6;
        font-weight: 500;
        i {
            color: #5ea57a;
            font-weight: 600;
            font-style: normal;
        }
    }
}
