* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: $defaultFontSize;
  font-weight: $defaultFontWeight;
  color: $black;
  font-family: $defaultFontFamily;
  &.noscroll {
    overflow: hidden;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }
}
h1 {
  font-family: $TitleFontFamily;
  font-weight: $TitleltFontWeight;
  font-size: $TitleFontSize;
  @include break-down(lg) {
    font-size: 48px;
  }
  @include break-down(sm) {
    font-size: 40px;
  }
  @include break-down(xs) {
    font-size: 32px;
  }

}
h2 {
  font-family: $TitleFontFamily;
  font-weight: $TitleltFontWeight;
  font-size: 48px;
  @include break-down(lg) {
    font-size: 40px;
  }
  @include break-down(sm) {
    font-size: 32px;
  }
  @include break-down(xs) {
    font-size: 28px;
  }
}

h3 {
  font-family: "Rubik Medium", sans-serif;
  font-size: 36px;
  font-weight: 500;
  @include break-down(lg) {
    font-size: 30px;
  }
  @include break-down(sm) {
    font-size: 24px;
  }
  @include break-down(xs) {
    font-size: 20px;
  }
}
.blue {
  background-color: $mainBlue;
}
.textColor{
  color: $mainBlue;
}
#__layout,
#app {
  min-height: 100vh;
  scroll-behavior: smooth;
}
#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: $max_b;
  min-width: $min_b;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $mainColor;

  &:hover {
    color: $gray-9;
  }
  &:active {
    color: $gray-9;
  }
}
.btn {
  cursor: pointer;
  font: inherit;
  display: inline-block;
  text-decoration: none;
  border: none;
  transition: 0.5s ease-in;
  vertical-align: top;
  border-radius: 30px;
  padding: 18px 0;
  color: white;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="file"].visually-hidden,
input[type="radio"].visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.section__title {
}
.section {
  padding: 50px 0;
  z-index: 0;
  display: block;
  position: relative;
}
.section__subtitle {
  width: 50%;
  font-size: 1.1rem;
  margin: 3em auto;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  transition: color 0.15s ease-out;
}
hr {
  margin: 0;
}
#feature {
  padding-bottom: 0;
}
.red{
  color: red;
}
